@import './../../style.scss';

.register {
    padding: 100px 0;
    height: 100%;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 38px;

    &__logo {
        height: fit-content;
        width: 200px;
        margin-bottom: 20px;
    }

    &__description {
        font-size: 20px;
    }

    p {
        width: 100%;
    }

    label {
        display: flex;
        flex-direction: column;
    }

    &__input {
        width: 100%;
    }
    
    input {
        height: 55px;
        width: 100%;
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: solid 1px rgba(217, 217, 217, 40%);
    }

    &__permission {
        font-size: 12px;
    }

    &__button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 12px;
        height: 35px;
        width: 100%;
        padding: 10px;
        border-radius: 30px;
        border: none;
        background-color: $secondary-color;
        color: white;
    }
}