.list-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    &__filters {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        gap: 20px;
        margin-bottom: 1rem;

        button {
            background: rgba(0, 0, 0, 0.5);
            font-size: 1rem;
            line-height: 1rem;
            font-weight: 500;
            padding: 0.5rem 0.75rem;
            color: white;
            border-radius: 20px;
            cursor: pointer;
            border: 0;
        }

        .black-filter {
            background: black;
        }
    }

    &__search {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        min-width: 750px;
        margin-bottom: 1rem;
        gap: 1rem;
        margin-bottom: 2rem;

        input {
            width: 100%;
            height: 3rem;
            border: none;
            padding: 1rem;
            border-radius: 50px;
            background: #E1E1E1;
            color: #858585;
            font-size: 1rem;
            line-height: 1rem;
            font-weight: 500;
        }

        button {
            width: 20%;
            height: 3rem;
            border: none;
            padding: 1rem;
            border-radius: 50px;
            cursor: pointer;
            font-size: 1rem;
            line-height: 1rem;
            font-weight: 500;
            background: linear-gradient(90deg, #0D0C39 0%, #2C28C6 100%);
            color: white;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.5rem;
            // justify-content: space-between;
            transition: 0.7s;
        }

        button:hover {
            background: linear-gradient(90deg, #2C28C6 0%, #0D0C39 100%);
        }
    }

    &__stocks {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}