.options-container {
    height: fit-content;
    width: fit-content;
    display: grid;
    row-gap: 1.5rem;
    column-gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);

    &__box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 28rem;
        height: 15rem;
        padding: 1.25rem;
        background-color: rgba(217, 217, 217, 0.4);
        border-radius: 10px;

        img {
            width: 2.5rem;
            height: 2.5rem;
        }

        h3 {
            font-weight: 500;
            color: #343434;
            font-size: 1.25rem;
            line-height: 1.25rem;
        }

        p {
            color: #6F6F6F;
            font-size: 1rem;
            font-weight: 400;
        }

    }

    &__select-button {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        button {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 0.75rem;
            height: 2.1875rem;
            width: fit-content;
            padding: 0.625rem;
            border-radius: 30px;
            border: none;
            background-color: black;
            color: white;
            font-weight: 500;
            font-size: 1rem;
            line-height: 1rem;
            cursor: pointer;
            transition: 0.5s;
        }

        button:hover {
            filter: brightness(0.7);
        }

        img {
            width: 1rem;
            height: 1rem;
        }
    }

}